<div class="container">
    <h1>Register</h1>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="username"/>
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="password"/>
            <label for="password2">Verify Password</label>
            <input type="password" class="form-control" id="password2" placeholder="password"/>
        </div>

        <a href="#/profile" type="button" class="btn btn-primary btn-block">Register</a>
        <a href="#/login" type="button" class="btn btn-danger btn-block">Cancel</a>
    </form>
</div>
