<div class="container">
    <h1>Register</h1>
    <form name="registerForm" novalidate>
        <div class="form-group">
            <div ng-show="registerForm.$invalid && registerForm.$submitted" class="alert alert-danger" role="alert">
                There were errors in your form.
                <ul>
                    <li ng-show="registerForm.username.$invalid">Username is required</li>
                    <li ng-show="registerForm.password.$invalid">Password is required</li>
                    <li ng-show="registerForm.password2.$invalid">Verify password is required</li>
                </ul>
            </div>
            <div ng-show="model.error && !registerForm.$invalid" class="alert alert-danger" role="alert">
                There were errors in your form.
                <ul>
                    <li>Password did not matched</li>
                </ul>
            </div>

            <label for="username">Username</label>
            <input name="username"  ng-model="model.username" type="text" class="form-control" id="username" placeholder="username" required/>
            <div ng-show="registerForm.username.$invalid && registerForm.$submitted" class="error">Username is required</div>
            <label for="password">Password</label>
            <input name="password" ng-model="model.password" type="password" class="form-control" id="password" placeholder="password" required/>
            <div ng-show="registerForm.password.$invalid && registerForm.$submitted" class="error">Password is required</div>
            <label for="password2">Verify Password</label>
            <input name="password2" ng-model="model.password2" type="password" class="form-control" id="password2" placeholder="password" required/>
            <div ng-show="registerForm.password2.$invalid && registerForm.$submitted" class="error">Verify password is required</div>
        </div>

        <button ng-click="model.register(model.username, model.password)" type="submit" class="btn btn-primary btn-block">Register</button>
        <a href="#/login" type="button" class="btn btn-danger btn-block">Cancel</a>
    </form>
</div>
