<nav class="navbar navbar-default navbar-fixed-top navbar-page">
    <div class="container-fluid">
        <a class="navbar-text pull-left" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-chevron-left page-glyphicon"></span>
        </a>
        <a class="navbar-brand page-brand" href="#">Widget Edit</a>
        <p class="navbar-text pull-right">
            <a class="glyphicon glyphicon-ok page-glyphicon" ng-click="model.updateWidget(model.widget)"></a>
        </p>
    </div>
    </div>
</nav>

<style>
    .form-control {
        height: 300px;
    }
</style>

            <!--<label for="name">Name</label>
            <input type="text" class="form-control margin-bottom" id="name" placeholder="Name"/>
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control margin-bottom" id="text" placeholder="Text"
                   value="Massive Earthquake Along the San Andreas Fault Is Disturbingly Imminent"/>
            <label for="size">Size</label>
            <input ng-model="model.widget.size" type="text" class="form-control margin-bottom" id="size" placeholder="Size" value="4"/>-->

            <div ng-model="model.widget.text"
                 text-angular
                 ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
            </div>

            <a ng-click="model.deleteWidget()" type="button" class="btn btn-danger btn-block">Delete</a>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-page">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a class="glyphicon glyphicon-user page-glyphicon-blue" href="#/user/{{model.userId}}"></a>
        </p>
    </div>
</nav>