<script src="./js/autocomplete.js"></script>
<style>
    /*
    Overriding all stylesheets conflicts
    */
    .img-fix-height {
        height:100px;
        width: 300px;
    }
</style>

<nav class="navbar navbar-default navbar-fixed-top navbar-page">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <span class="left-margin"></span>
            <a class="glyphicon glyphicon-home" style="color: grey"  href="#/user_live"></a>
        </p>
        <ul class="nav navbar-nav pull-right hidden-xs hidden-sm">
            <li class="right-padding">
                <input type="text" class="typeahead tt-query form-control mobile-menu-top-margin" autocomplete="off" spellcheck="false" id="typeahead"
                       data-provide="typeahead" placeholder="search users">
                <span class="btn btn-info btn-xs"><i class="glyphicon glyphicon-search"></i></span>
            </li>
            <li><a href="#/admin"><i class="fa fa-fw fa-cog"></i> <span>Manage</span></a></li>
            <li class="active"><a href="#/users"><i class="fa fa-fw fa-users"></i><span> Users </span><small>({{model.users.length}})</small></a></li>
            <li><a href="#/events"><i class="fa fa-fw fa-calendar"></i><span> Events <small>({{model.events.length}})</small></span></a></li>
            <li class=""><a ng-click="model.logout()" class="glyphicon glyphicon-log-out"></a></li>
        </ul>
        <ul class="btn-group cover-menu-mobile hidden-lg hidden-md pull-right mobile-menu-top-margin">
            <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="dropdown-menu pull-right no-border" role="menu">
                <li>
                    <input type="text" class="typeahead tt-query form-control" autocomplete="off" spellcheck="false" id="typeahead1"
                           data-provide="typeahead" placeholder="search users">
                </li>
                <li class="active"><a href="#/admin"><i class="fa fa-fw fa-cog"></i> <span>Manage</span></a></li>
                <li><a href="#/users"><i class="fa fa-fw fa-users"></i><span> Users </span><small>({{model.users.length}})</small></a></li>
                <li><a href="#/events"><i class="fa fa-fw fa-calendar"></i><span> Events ({{model.events.length}})</span></a></li>
                <li class=""><a ng-click="model.logout()" class="glyphicon glyphicon-log-out"></a></li>
            </ul>
        </ul>
    </div>
</nav>
<br/>
<div class="container bootstrap top-margin">
    <div class="clearfix">
        <span class="text-white h3"><li class="fa fa-users"></li>  Users({{model.users.length}})</span>
    </div>
</div>
<br/>
<div class="container bootstrap snippets">
    <div class="row">
        <div ng-repeat="user in model.users" class="col-md-3">
            <div class="panel panel-success rounded shadow">
                <div class="panel-heading no-border"  style="background-color: #BBD7ED">
                    <div class="pull-left half">
                        <div class="media">
                            <div class="media-object pull-left">
                                <img src="{{user.photoUrl}}" alt="..." class="img-circle img-post">
                            </div>
                            <div class="media-body">
                                <a href="#" class="media-heading block mb-0 h4 text-white">{{user.firstName}} {{friend.lastName}}</a>
                                <br/>
                                <span class="text-white h6">Joined on {{user.dateCreated}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
                <div class="panel-footer">
                    <a ng-click="model.removeUser(user._id)" class="btn btn-sm"><i class="fa fa-user-times"></i> Remove</a>
                </div><!-- /.panel-footer -->
            </div><!-- /.panel -->
        </div>
    </div>
</div>